<section class="route-card-container" *ngIf="matchingFlights.length > 0">
    <mat-card class="route-card">
        <mat-card-header>
            <div mat-card-avatar class="plane-icon"></div>
            <mat-card-title *ngFor="let flight of matchingFlights">{{ flight.departureStation }} - {{
                flight.arrivalStation }}</mat-card-title>
            <mat-card-subtitle>Unique Route</mat-card-subtitle>
        </mat-card-header>
        <hr>
        <mat-card-content>
            <mat-card-subtitle *ngFor="let flight of matchingFlights"><span class="card-subtitle"> Flight Carrier:
                </span> {{ flight.flightCarrier }}</mat-card-subtitle>
            <mat-card-subtitle *ngFor="let flight of matchingFlights"><span class="card-subtitle"> Flight Number:
                </span> {{ flight.flightNumber }}</mat-card-subtitle>
            <mat-form-field>
                <mat-label>Select Currency</mat-label>
                <mat-select [(ngModel)]="selectedCurrency" (selectionChange)="selectCurrency($event.value)">
                    <mat-option value="USD">USD</mat-option>
                    <mat-option value="COP">COP</mat-option>
                    <mat-option value="EUR">EUR</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-card-subtitle *ngFor="let flight of matchingFlights"><span class="card-subtitle">
                 Price: </span> {{ convertedPrice | currency:selectedCurrency }}
            </mat-card-subtitle>
        </mat-card-content>
    </mat-card>
</section>

<div *ngIf="matchingFlights.length === 0">
    <h1>Your request cannot be processed</h1>
</div>