.wrapper-container {
    background-image: url('./../../../assets/img/banner-flight.webp');
    padding: 4rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5rem;
}
 
.search-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 600px;
    padding: 3rem;
    background: white;
} 
  
.mat-form-field {
    margin-right: 2px;
}
  
.search-form-button{
    margin-left: 1rem;
    background: #151E3B;
    color: white;
}

.search-form-button:hover{
    background-color: #151e3be3;
}

.wrapper-container h1 {
    text-align: center;
    font-size: 40px;
    color: white;
    font-weight: 300;
    line-height: 1.2;
}

@media screen and (max-width: 900px) {
    .search-form-button{
        margin: 6px 0px;
        width: 100%;
    }

    .mat-form-field {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .wrapper-container {
        margin: 0;
    }

    .search-form::ng-deep .mat-form-field-subscript-wrapper {
        font-size: 64%;
        margin-top: 0;
    }

    .search-form-button{
        margin: 6px 0px;
        width: 100%;
    }

    .mat-form-field {
        width: 100%;
    }
}