.search-form-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 600px;
    padding: 3rem;
    background: #fc0;
    border-radius: 17px;
}
  
.mat-form-field {
    margin-right: 2px;
}
  
.search-form-button{
    margin-left: 1rem;
    background: #4d4d4d;
    color: white;
}

.search-form-button:hover{
    background-color: #1f1d1d;
}
